<div class="site-wrapper">
    <section class="viewaccountdetails">
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="margin-top: 10%">
                    <app-navbar></app-navbar>
                    <h4>Welcome</h4><div>Inser username here</div>
                    <p>First Name:</p>
                    <p>Last Name:</p>
                    <p>NRIC:</p>
                    <p>Gender:</p>
                    <p>Age:</p>
                    <p>Phone Number:</p>
                    <p>Email:</p>
                    <p>Address:</p>
                </div>
            </div>
        </div>
    </section>
</div>